<md-card class="card">
  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="Bank Name" name="bankName" [(ngModel)] = "bank.bankName" >
    </md-input-container>
    <md-card-actions>
      <button md-button color='primary' (click)="post()">POST</button>
    </md-card-actions>
  </md-card-content>
</md-card>
