<div>
    <md-card *ngFor="let message of webService.messages" class="card">
        
          <md-card-title> {{message.bank_name}} </md-card-title>  
        <md-card-content> {{message.uuid}}</md-card-content>
        
    </md-card> 
    </div>
